<ion-view title="SPE GESTOR" id="page2">
  <ion-content padding="false" class="has-header">    
    <div class="row">
      <div class="col">
        <div id="menu-markdown1" style="text-align:justify;" class="show-list-numbers-and-dots" data-componentid="markdown1">
        <img src="img/VUHtA6NVS0KwMtWbdnFR_logo.png" style="display: block; width: 40%; height: 40%; margin-left: auto; margin-right: auto;">
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col">
          <p style="color: gray;font-size:14px; text-align: center">Bem vindo ao SPE-GESTOR.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p style="color: gray;font-size:16px; text-align: center;">Olá, {{user.CARGO}} {{user.NOME}}.</p>
        </div>
      </div>
      <div class="card">
        <label class="item item-input item-select">
          <div class="input-label">
            Selecione o Ano:
          </div>
         <select ng-model="exercicio.opcoes" ng-options="template.EXERCICIO as template.EXERCICIO for template in exercicio.lista" ng-change="funcao(exercicio.opcoes);">
         </select>
        </label>
      </div>
      <div class="card">
      <div class="row" style="background-color: #f8f8f8">
        <div class="col">
          <label>
             <span class="ion-information-circled" ></span>&nbsp;<b>Você possui {{user.QTD_MUN_EXERC[exercicio.opcoes].municipios}} municípios para o exercício de {{exercicio.opcoes}}.</b>
          </label>
        </div>
      </div>
      </div>

      <div class="card" style="margin-top: 10%">            
            <a class="item item-icon-left" ng-repeat="x in competencia" href="#/{{x.DESCRICAO}}">
              <i class="icon ion-android-apps"></i>
              {{x.DESCRICAO}}
              <p>{{x.STATUS}}</p>
            </a>            
      </div>
  </ion-content>
</ion-view>