<ion-view title="Notificações" id="page3">
    <ion-content padding="true" scroll="false" class="has-header">
        <!-- put ng-repeate here -->
        <div class="list" style="text-align:left" ng-repeat="notif in notificacoes">
            <div class="item item-divider">
                {{notif[0].DATA_NOTIFICACAO}}
            </div>

            <a class="item" href="#" ng-repeat="registro in notif">
                {{registro.ORGAO}} ({{registro.MUNICIPIO}}) entregou {{registro.COMPETENCIA}} referente ao exercício de {{registro.ANO}}
            </a>
        </div>
    </ion-content>
</ion-view>