<ion-view title="Notificacoes" id="page3">
   
        <ion-content scroll="false" class="has-header">
            <ion-slides options="options" slider="data.slider">
                <ion-slide-page>
                    <div class="box blue">
                        <h1>BLUE</h1>
                    </div>
                </ion-slide-page>
                <ion-slide-page>
                    <div class="box yellow">
                        <h1>YELLOW</h1>
                    </div>
                </ion-slide-page>
                <ion-slide-page>
                    <div class="box pink">
                        <h1>PINK</h1>
                    </div>
                </ion-slide-page>
            </ion-slides>
        </ion-content>
        <!--<div class="card">
            <div class="item item-text-wrap">
                BELÉM entregou
            </div>
        </div>-->
   
</ion-view>