<ion-view title="Notificacoes" id="page3">
    <ion-content padding="true" scroll="false" class="has-header">
        <ion-slides options="options" slider="data.slider">
             <ion-slide-page>
                <div class="row row-center ">
                    <div class="col col-bottom">
                        <div class="bar bar-header bar-light">
                            <h1 class="title">15/03/2017</h1>
                        </div>
                    </div>
                </div>
                <div class="list card">
                    <span class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Educação</b> entregou a <b>LOA.</b>
                    </span>
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Saúde</b> entregou a <b>LOA.</b>
                    </span>
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Prefeitura</b> entregou a <b>LOA.</b>
                    </span>
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Educação</b> entregou a <b>LOA.</b>
                    </span>
                </div>
             </ion-slide-page>
             <ion-slide-page>
                <div class="row row-center">
                    <div class="col col-bottom">
                        <div class="bar bar-header bar-light">
                            <h1 class="title">14/03/2017</h1>
                        </div>
                    </div>
                </div>
                <div class="list card">
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Saúde</b> entregou a <b>LOA.</b>
                    </span>
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Educação</b> entregou a <b>LOA.</b>
                        
                    </span>
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Secretaria de Educação</b> entregou a <b>LOA.</b>
                    </span>
                    
                    <span href="#" class="item item-icon-right">
                        <i class="icon ion-ios-checkmark-outline balanced"></i> <b>Prefeitura</b> entregou a <b>LOA.</b>
                    </span>
                    
                </div>
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>