<ion-view title="Perfil" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-image">
                        <img src="../img/perfil.png">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap" style="font-size: 14px">
                        <b>Nome:</b></br> Rogerio Gomes</br>
                        <b>Data Nascimento:</b></br> 21/10/1950</br>
                        <b>Cargo:</b></br> Controlador
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap" style="font-size: 14px">
                        <ul>
                            <li>
                                <b>Controladoria:</b>
                            </li>
                            <li>
                                1º Controladoria.
                            </li>
                            <li>
                                <b>Qtd. de municípios da sua controladoria:</b>
                            </li>
                            <li>
                                23 municípios.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>