<ion-view title="Perfil" id="page6">
    <ion-content padding="true" class="has-header">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-image">
                        <img src="../img/perfil.png">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap" style="font-size: 14px">
                        <b>Nome:</b></br> {{user.NOME}}</br>
                        
                        <b>Cargo:</b></br> {{user.CARGO}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap" style="font-size: 14px">
                        <ul>
                            <li>
                                <b>Controladoria:</b>
                            </li>
                            <li>
                                {{user.SETOR}}
                            </li>
                            <li>
                                <b>Qtd. de municípios da sua controladoria no ano corrente:</b> 
                            </li>
                            <li>
                                {{user.QTD_MUN_EXERC[anoAtual].municipios}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>