<ion-view title="2º Quadrimestre" id="page10">
  <ion-content padding="true" class="has-header">
      <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Município:</div>                
                <select ng-model="munsel" ng-change="select.reload(munsel, numreg, municipio)">
                    <option ng-repeat="x in municipio" value="{{$index}}">{{x.NOME_MUNICIPIO}}</option>
                </select>
            </label>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-right" ng-repeat="x in municipio[munsel].ORGAOS">
                <i ng-class="x.enviados == 1 ? 'icon ion-ios-checkmark-outline balanced' : 'icon ion-ios-close-outline assertive'"></i> {{x.NOME_ORGAO}}
            </a>
        </div>
  </ion-content>
</ion-view>