<ion-view title="SuporteAjuda" id="page7">
    <ion-content padding="true" class="has-header">
        <div class="row">
            <div class="col">
                <div class="card" style="text-align: center">
                    <div class="item item-divider">
                        Informações do sistema
                    </div>
                    <div class="item item-text-wrap">
                        <p style="text-align: left">
                            <b>Nome:</b> SPE-GESTOR Mobile<br>
                            <b>Versão:</b> 1.0<br>
                            <b>Desenvolvido por:</b> DI (Diretoria de Informatica.)<br>
                        </p>
                    </div>
                    <div class="item item-divider">
                        FAQ
                    </div>
                    <div class="item item-text-wrap">
                        
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>